.container
  %form{action: '/offers', method: 'post', id: 'category-form'}
    %dl{class: 'user-input'}
      %dt
        %label{:for => 'input-categories'} Input a Category
      %dd
        - if @category
          = find_and_preserve "<input type=\"text\" name=\"category\" id=\"home-form-category\"}>#{@category[0]}</input>"
        - else
          %input{type: 'text', name: 'category', id: 'home-form-category'}
    %dl{class: 'user-input'}
      %dt
        %label{:for => 'input-city'} Select a City
      %dd
        %select{ :name => "city" }
          %option{:value => "Guatemala"}= "Guatemala"
          %option{:value => "El Salvador"}= "El Salvador"
          %option{:value => "Honduras"}= "Honduras"
          %option{:value => "Nicaragua"}= "Nicaragua"
          %option{:value => "Costa Rica"}= "Costa Rica"
          %option{:value => "Panama"}= "Panama"
          %option{:value => "Republica Dominicana"}= "Republica Dominicana"
    .float-clear
      %input{type: 'submit', id: 'home-form-submit', class: 'submit', value: 'submit'}
  %form{:action => "/offers/#{@id}", :method => 'post', :id => 'delete-form'}
    - if @action == :update
      %input{:type => 'submit', :name => '_method', :value => 'delete', :class => 'delete'}                 
  %br
  %br
  %br

  -if @results
    %h1 Results
    %table{class: 'center'}
      %tbody
        %tr
          %th Job
          %th Date
          %th Country
          %th Details
        -@results['jobs'].each do |jobs|
          %tr
            %td{width: '200'}
              = jobs['id']
            %td{width: '100'}
              = jobs['date']
            %td{width: '100'}
              =jobs['cities']
            %td{width: '400'}
              =jobs['details']
